<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/fixture :: head('서비스 소개')" />
</head>
<body>
<div th:replace="fragments/fixture :: headerAndNav"></div>

<div class="container">
    <h2>서비스 안내</h2>

    <div class="section-wrapper">
        <div class="section">청송관</div>
        <div class="section">컨버전스홀</div>
        <div class="section">창조관</div>
    </div>
    <div class="section-wrapper">
        <div class="section">정의관</div>
        <div class="section">미래관</div>
    </div>
    <br>
    <br>
    <h3>
        강의실 이용, 이제 더 간편하게!
    </h3>
    <h4>
        연세대학교 미래캠퍼스 구성원을 위한 본 서비스는<br>
        강의실의 이용 현황, 예약, 이용 후기 작성 기능을 통해
        더 스마트한 캠퍼스 생활을 지원합니다.
    </h4>
</div>

</body>
</html>